.chart-container {
    display: flex;
    flex-direction: row;
}

.chart-item {

}

.form-container {
    display: flex;
    flex-direction: column;
}

.param-col-container {
    display: flex;
    flex-direction: row;
}

.graphic-card {
    height: 120px;
}


.result-container {
    background-color: #CDCDCD;
}

.default-value-container {
    background-color: #E7E7E7;
}

.param-container {
    display: flex;
    flex-direction: row;
}